<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>信息注册</title>
    <style>
        body{text-align: center}
    </style>
    <script type="text/javascript">
        function checkPassword(){
            let pw = document.getElementById("pw").value;
            let repw = document.getElementById("repw").value;
            console.log("检查密码: pw="+pw+"  repw="+repw);
            if (pw !== repw){
                document.getElementById("msg").innerHTML="<br><span style='color: red'>两次输入密码不一致</span>";
                document.getElementById("submit").disabled=true;
            }else {
                document.getElementById("msg").innerHTML="<br><span style='color: green'>两次输入密码一致</span>";
                document.getElementById("submit").disabled=false;
            }
        }
    </script>
</head>
<body>
<P th:text="${msg}" th:if="${msg} != null"></P>
<form action="/register" method="post" >
    账户名 <input name="userName" type="text"> <br>
    密码 <input name="password" type="password" id="pw" > <br>
    确认密码 <input name="again_password" type="password" id="repw" onblur="checkPassword()"> <br>
    <span id="msg"></span>
    <input type="submit" value="注册" id="submit" disabled> <br>
</form>

<a href="/login">登录页面</a>


</body>
</html>