<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hyizhou.framework.mapper.OnLineDiskMapper">
    <resultMap id="onLineDiskMap" type="top.hyizhou.framework.pojo.OnLineDisk">
        <result property="userId" jdbcType="INTEGER" column="user_id"/>
        <result property="dirName" jdbcType="VARCHAR" column="dir_name"/>
        <result property="allSize" jdbcType="BIGINT" column="all_size"/>
        <result property="useSize" jdbcType="BIGINT" column="use_size"/>
        <result property="shutoff" jdbcType="BOOLEAN" column="shutoff"/>
    </resultMap>
    <delete id="delete">
        delete from onlinedisk where user_id=#{userId}
    </delete>

    <select id="findById" resultMap="onLineDiskMap">
        select * from onlinedisk where user_id=#{userId}
    </select>

    <select id="findAll" resultMap="onLineDiskMap">
        select * from onlinedisk;
    </select>

    <insert id="insert">
        insert into onlinedisk
            <trim prefix="(" suffixOverrides="," suffix=")">
                `user_id`,`dir_name`,`all_size`,`use_size`,
                <if test="shutoff != null">
                    `shutoff`
                </if>
            </trim>
        (
            select
            <trim suffixOverrides=",">
                #{userId},#{dirName},#{allSize},#{useSize},
                <if test="shutoff != null">
                    #{shutoff}
                </if>
            </trim>
            where #{userId} in (select id from users)
        )
    </insert>

    <update id="update">
        update onlinedisk
        <set>
            <if test="dirName != null">
                `dir_name` = #{dirName},
            </if>
            <if test="allSize != null">
                `all_size` = #{allSize},
            </if>
            <if test="useSize != null">
                `use_size` = #{useSize},
            </if>
            <if test="shutoff != null">
                `shutoff` = #{shutoff}
            </if>
        </set>
        <where>
            `user_id` = #{userId}
        </where>
    </update>

</mapper>
