<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--目录名作标题-->
    <title>目录</title>
</head>
<body>
<!--相对路径作为h1-->
<h3 th:text="${dirPath}"></h3>
<div>
    <a th:if="${dirPath} ne '/'" th:href="${parentUrl}">上一级</a>
    <div th:each="subFile:${subFileList}"  th:if="${subFile.isDirectory}" >
        <a th:text="${subFile.name}" th:href="${urlPath}+${subFile.name}" style="color: orange"></a><br/>
    </div>
    <div th:each="subFile:${subFileList}" th:unless="${subFile.isDirectory}">
        <a th:text="${subFile.name}" th:href="${urlPath}+${subFile.name}" style="color: black"></a><br/>
    </div>
</div>
</body>
</html>