<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <script type="text/javascript" src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript">
        let golbalUrl = "http://localhost/disk/folder/";
        let localPath = "/";
        /**
         * 传入json对象，更新到页面
         * @param date json对象
         */
        function updateList(date){
            $("#div-file-list").empty();
            for (let i = 0; i < date.body.length; i++) {
                console.log(date.body[i]);
                let fileInfo = date.body[i];
                let a = "<p></p>";
                if (fileInfo.isDirectory) {
                    a = $(a).text(fileInfo.name).attr({"class":"folder_p"});
                    console.log(a);
                    $("#div-file-list").append(a);
                }else {
                    a = $(a).text(fileInfo.name).attr({"class":"file_p"});
                    $("#div-file-list").append(a);
                }
            }
        }

        /**
         * 异步get请求获取目录子文件列表
         * @param path 相对路径
         */
        function getFolderList(path){
            console.log("url = "+path);
            console.log(typeof path);
            // url为undefined或为null
            let url = golbalUrl + "/" + path;
            $.get(url, function (data, status){
                console.log(data);
                console.log(typeof(data));
                updateList(data);
            });
        }

        function nextFolder(event){
            console.log(event);
            console.log(event.currentTarget);
            let subFolder = $(event.currentTarget).text();
            localPath = localPath + "/" + subFolder;
            alert("被点击了"+ localPath);
        }

        $(document).ready(function (){
            $("button").click(function (){getFolderList("/")});
            $("#div-file-list").on("click",".folder_p", nextFolder);
        });
    </script>
</head>
<body>
<div id="div-file-list"></div>
<button>刷新</button>
</body>
</html>